{% load django_vite %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    {% block icons %}
      {% include './favicons.html' %}
    {% endblock %}

    {% block js_head %}
      {% vite_hmr_client %}
      {% vite_asset 'static/src/ts/main.ts' %}
    {% endblock %}

    <title>
      {% block title %}
        {% if title %}
          {{ title }} - Permapp
        {% else %}
          Permapp
        {% endif %}
      {% endblock %}
    </title>

    {% block head_extra %}{% endblock %}
  </head>

  <body id="{% block body_id %}{% endblock %}">
    {% block body %}{% endblock %}
    {% block js_footer %}
      {% vite_legacy_polyfills %}
      {% vite_legacy_asset 'static/src/ts/main-legacy.ts' %}
    {% endblock %}
  </body>
</html>
