/* Override Django admin form style */
label.leaflet-styleeditor-label {
  float: none !important;
}

ul.leaflet-styleeditor-select-option-wrapper {
  margin: 0px !important;
  margin-top: 15px !important;
  padding: 0px !important;
}

.leaflet-touch .leaflet-control-layers-toggle {
  width: 30px !important;
  height: 30px !important;
  background-size: 20px 20px !important;
}

.leaflet-control-layers-list label {
  float: none !important;
  width: auto !important;
  height: auto !important;
  padding: 5px 0px !important;
}

.leaflet-control-layers-list label::after {
  height: auto !important;
  content: none !important;
  display: block !important;
}

ul.leaflet-draw-actions {
  margin-left: 0px !important;
  padding-left: 0px !important;
}

.leaflet-container {
  background: #FFF;
}

.leaflet-editing-icon {
  width: 8px !important;
  height: 8px !important;
  border-radius: 50% !important;
  margin-left: -4px !important;
  margin-top: -4px !important;
}

.leaflet-draw-guide-dash {
  border-radius: 50% !important;
  background: #FFF !important;
}
